In [3]:
import pandas as pd

In [10]:
 import sys
 print(sys.executable)
! C:\Users\Aitor\anaconda3\envs\env_TFM\python.exe -m pip install pandas

C:\Users\Aitor\anaconda3\envs\env_TFM\python.exe
Requirement already satisfied: pandas in c:\users\aitor\anaconda3\envs\env_tfm\lib\site-packages (1.2.4)

ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory: 'c:\\users\\aitor\\anaconda3\\envs\\env_tfm\\lib\\site-packages\\pandas-1.2.4.dist-info\\METADATA'

In [11]:
 import sys
 print(sys.executable)
! C:\Users\Aitor\anaconda3\envs\env_TFM\python.exe -m pip install pyspark==2.4.3

C:\Users\Aitor\anaconda3\envs\env_TFM\python.exe
Requirement already satisfied: pyspark==2.4.3 in c:\users\aitor\anaconda3\envs\env_tfm\lib\site-packages (2.4.3)
Requirement already satisfied: py4j==0.10.7 in c:\users\aitor\anaconda3\envs\env_tfm\lib\site-packages (from pyspark==2.4.3) (0.10.7)

WARNING: Error parsing requirements for pytz: [Errno 2] No such file or directory: 'c:\\users\\aitor\\anaconda3\\envs\\env_tfm\\lib\\site-packages\\pytz-2021.1.dist-info\\METADATA'
WARNING: Error parsing requirements for pandas: [Errno 2] No such file or directory: 'c:\\users\\aitor\\anaconda3\\envs\\env_tfm\\lib\\site-packages\\pandas-1.2.4.dist-info\\METADATA'

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Test_spark").master("local[*]").getOrCreate()
spark

In [19]:
ruta = 'C:/Users/Aitor/TFM_Notebooks/datos_usuarios/'
datos_usuario = 'datos_user_1.csv'
df = spark.read.option("sep",";").option("mode","DROPMALFORMED").csv(ruta+datos_usuario)

df.limit(3).toPandas()

  _c0   _c1       _c2        _c3       _c4       _c5        _c6        _c7
0   1     0  1.009766  -0.016602  0.016602  0.900763   0.152672  -0.778626
1   2  1661  1.009277  -0.020020  0.031250  1.007634  -0.015267  -0.580153
2   3  3333  1.006348  -0.018555  0.026855  0.809160   0.045802  -0.625954

In [28]:
from pyspark.sql.functions import lit
df_1=df.withColumn('User_ID',lit(1))

In [30]:
df_nuevo = df_1.select('User_ID',"_c0","_c1","_c2","_c3","_c4","_c5","_c6","_c7")
df_nuevo.limit(5).toPandas()

,User_ID,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7
0,1,1,0,1.009766,-0.016602,0.016602,0.900763,0.152672,-0.778626
1,1,2,1661,1.009277,-0.020020,0.031250,1.007634,-0.015267,-0.580153
2,1,3,3333,1.006348,-0.018555,0.026855,0.809160,0.045802,-0.625954
3,1,4,4994,1.014648,-0.010254,0.034668,0.900763,-0.152672,-0.625954
4,1,5,6655,1.015137,-0.016602,0.021484,0.687023,0.259542,-0.916031

In [1]:
import os
import pandas as pd
from pyspark.sql.functions import lit

In [34]:
ruta_general="C:/Users/Aitor/Desktop/knobID20/knobID01/"
archivo = "knobID01_01.csv"
df_2 = spark.read.option("sep",";").option("header","true").option("mode","DROPMALFORMED").csv(ruta_general+archivo)
df_2tf=df_2.withColumn('User_ID',lit(1)).withColumn('Attemp',lit(1)).drop("num")
df_2tf.limit(5).toPandas()

,time(us),accX(g),accY(g),accZ(g),gyrX(o/s),gyrY(o/s),gyrZ(o/s),User_ID,Attemp
0,0,1.009766,-0.016602,0.016602,0.900763,0.152672,-0.778626,1,1
1,1661,1.009277,-0.020020,0.031250,1.007634,-0.015267,-0.580153,1,1
2,3333,1.006348,-0.018555,0.026855,0.809160,0.045802,-0.625954,1,1
3,4994,1.014648,-0.010254,0.034668,0.900763,-0.152672,-0.625954,1,1
4,6655,1.015137,-0.016602,0.021484,0.687023,0.259542,-0.916031,1,1

In [50]:
df_final_1 = df_2tf.select('User_ID','Attemp',' time(us)'," accX(g)"," accY(g)"," accZ(g)"," gyrX(o/s)"," gyrY(o/s)"," gyrZ(o/s)")
df_final_1.toPandas()

,User_ID,Attemp,time(us),accX(g),accY(g),accZ(g),gyrX(o/s),gyrY(o/s),gyrZ(o/s)
0,1,1,0,1.009766,-0.016602,0.016602,0.900763,0.152672,-0.778626
1,1,1,1661,1.009277,-0.020020,0.031250,1.007634,-0.015267,-0.580153
2,1,1,3333,1.006348,-0.018555,0.026855,0.809160,0.045802,-0.625954
3,1,1,4994,1.014648,-0.010254,0.034668,0.900763,-0.152672,-0.625954
4,1,1,6655,1.015137,-0.016602,0.021484,0.687023,0.259542,-0.916031
...,...,...,...,...,...,...,...,...,...
1490,1,1,2475525,1.007324,-0.021973,0.014648,1.083969,0.396947,-0.702290
1491,1,1,2477182,1.007324,-0.020508,0.017090,0.900763,0.167939,-0.732824
1492,1,1,2478842,1.010254,-0.018555,0.019531,0.824427,0.213740,-0.992366
1493,1,1,2480501,1.002930,-0.020996,0.023438,1.129771,0.167939,-0.870229
1494,1,1,2482160,1.013672,-0.018066,0.026855,1.206107,0.137405,-0.809160

In [81]:
cont=10
while(cont<=47):
    num = str(cont)
    ruta_gen="C:/Users/Aitor/Desktop/knobID20/knobID"+num
    ruta_dest="C:/Users/Aitor/Desktop/datos_mod/"
    valorAttemp=1
    for filename in os.listdir(ruta_gen):
        df_aux = spark.read.option("sep",";").option("header","true").option("mode","DROPMALFORMED").csv(ruta_gen+"/"+filename)
        df_aux_tf=df_aux.withColumn('User_ID',lit(cont)).withColumn('Attemp',lit(valorAttemp)).drop("num")
        df_final_aux = df_aux_tf.select('User_ID','Attemp',' time(us)'," accX(g)"," accY(g)"," accZ(g)"," gyrX(o/s)"," gyrY(o/s)"," gyrZ(o/s)")
        df_final_aux.toPandas().to_csv(ruta_dest+filename,index=False)
        valorAttemp=valorAttemp+1
    cont=cont+1

In [82]:
ruta_gen="C:/Users/Aitor/Desktop/knobID20/knobID02"
ruta_dest="C:/Users/Aitor/Desktop/datos_mod/"
valorAttemp=1
for filename in os.listdir(ruta_gen):
    df_aux = spark.read.option("sep",";").option("header","true").option("mode","DROPMALFORMED").csv(ruta_gen+"/"+filename)
    df_aux_tf=df_aux.withColumn('User_ID',lit(2)).withColumn('Attemp',lit(valorAttemp)).drop("num")
    df_final_aux = df_aux_tf.select('User_ID','Attemp',' time(us)'," accX(g)"," accY(g)"," accZ(g)"," gyrX(o/s)"," gyrY(o/s)"," gyrZ(o/s)")
    df_final_aux.toPandas().to_csv(ruta_dest+filename,index=False)
    valorAttemp=valorAttemp+1

In [92]:
ruta="C:/Users/Aitor/Desktop/datos_mod/"
ruta_dest="C:/Users/Aitor/Desktop/datos_mod_cab/"

for filename in os.listdir(ruta):
    with open(ruta+"/"+filename) as f:
        with open(ruta_dest+filename,'w') as f1:
            next(f)
            for line in f:
                f1.write(line)
print("Se han borrado las cabeceras del conjunto de datos")

Se han borrado las cabeceras del conjunto de datos

In [19]:
ruta_input="C:/Users/Aitor/Desktop/TFM/entrenamiento/"
ruta_output="C:/Users/Aitor/Desktop/TFM/"
archivo_input = "entrenamiento_10_int.csv"
archivo_output = "entrenamiento_10_int_6_cols.csv"

In [20]:
from pyspark.sql import types as T
from pyspark.sql import functions as F

In [21]:
customSchema = [T.StructField("user_ID", T.IntegerType()), 
    T.StructField("attemp", T.IntegerType()),
    T.StructField("time(us)", T.LongType()), 
    T.StructField("accX(g)", T.DoubleType()),
    T.StructField("accY(g)", T.DoubleType()),
    T.StructField("accZ(g)", T.DoubleType()),
    T.StructField("gyrX(o/s)", T.DoubleType()),
    T.StructField("gyry(o/s)", T.DoubleType()),
    T.StructField("gyrz(o/s)", T.DoubleType())]
customSchema=T.StructType(customSchema)

In [22]:
df_aux = spark.read.option("sep",",").option("header","true").option("mode","DROPMALFORMED").schema(customSchema).csv(ruta_input+archivo_input)

In [41]:
df = df_aux.select("user_ID","attemp","accX(g)","gyrz(o/s)")

In [12]:
df_aux.show(3)

+-------+------+--------+--------+---------+--------+---------+---------+---------+
|user_ID|attemp|time(us)| accX(g)|  accY(g)| accZ(g)|gyrX(o/s)|gyry(o/s)|gyrz(o/s)|
+-------+------+--------+--------+---------+--------+---------+---------+---------+
|      1|     1|       0|1.009766|-0.016602|0.016602| 0.900763| 0.152672|-0.778626|
|      1|     1|    1661|1.009277| -0.02002| 0.03125| 1.007634|-0.015267|-0.580153|
|      1|     1|    3333|1.006348|-0.018555|0.026855|  0.80916| 0.045802|-0.625954|
+-------+------+--------+--------+---------+--------+---------+---------+---------+
only showing top 3 rows

In [23]:
df_aux.toPandas().to_csv(ruta_output+archivo_output,index=False)

In [22]:
df_aux.printSchema()

root
 |-- user_ID: integer (nullable = true)
 |-- attemp: integer (nullable = true)
 |-- time(us): long (nullable = true)
 |-- accX(g): double (nullable = true)
 |-- accY(g): double (nullable = true)
 |-- accZ(g): double (nullable = true)
 |-- gyrX(o/s): double (nullable = true)
 |-- gyry(o/s): double (nullable = true)
 |-- gyrz(o/s): double (nullable = true)

In [95]:
val=1495*20*47
print(val)

1405300

# Separar datos de entrenamiento y prueba

In [1]:
from pyspark.sql import types as T
from pyspark.sql import functions as F

In [11]:
ruta_input="C:/Users/Aitor/Desktop/TFM/datos_mod_cab/"
ruta_output="C:/Users/Aitor/Desktop/TFM/"
archivo_input = "final_dataset.csv"
archivo_output = "new_dataset.csv"

In [12]:
df_aux = spark.read.option("sep",",").option("header","true").option("mode","DROPMALFORMED").csv(ruta_input+archivo_input)

In [ ]:
df_aux.drop()

In [13]:
df_aux.describe()

DataFrame[summary: string, user_ID: string, attemp: string, time(us): string, accX(g): string, accY(g): string, accZ(g): string, gyrX(o/s): string, gyry(o/s): string, gyrz(o/s): string]